<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Express Adventure</title>
    </head>
    <body>
      <nav>
        <a href="/">HOME</a>
        |
        <a href="/hello_world">HELLO WORLD!</a>
        |
        <a href="/contact_us">Contact Us</a>
      </nav>